<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ actionName }} un stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="stock" (submit)="handleSubmit()">
    <ion-list>
      <ion-item>
        <ion-label>Type de bois</ion-label>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="selectedWoodType">
          <strong>{{ selectedWoodType }}</strong>
        </ion-label>
      </ion-item>
      <button *ngIf="!selectedWoodType" type="button" ion-button clear (click)="handleAddTypeClick()">
        Ajouter type de bois
      </button>
      <ion-item>
        <ion-label floating>Quantité en m<sup>3</sup></ion-label>
        <ion-input formControlName="quantity" type="number" min="1" value="1"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button type="submit" [disabled]="stock && stock.invalid" >
      Créer stock
    </button>
  </form>
</ion-content>